# ┃ Outputs
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## Binaries
**/bin
**/obj

# Dear ImGui
imgui.ini

# ┃ Generated Workspaces
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## Xcode
*.xcworkspace
*.xcodeproj

## Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

## Makefile
Makefile
*.make

## nvim
.ccls
.ccls-cache
compile_commands.json

## Visual Studio Code
.vscode

# ┃ System Files
# ┣━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┫ #

## macOS
.DS_Store
.AppleDouble
.LSOverride
