# CMake
build*
cmake-build-*
!build*.sh

# Xcode
*.xcworkspace
*.xcodeproj

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

# Makefile
Makefile
*.make

# lsp
.cache
.ccls
.ccls-cache
compile_commands.json

# Visual Studio Code
.vscode

# IntelliJ
.idea

# macOS
.DS_Store
.AppleDouble
.LSOverride

# JetBrains Fleet
.fleet
.cache

